<!DOCTYPE html>
<html>
<head>
	<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
	<h1>Goodbye!</h1>

	<p>You have just deleted your account. <br>
		I you need to use KBugTracker in the future, you know <%= link_to "where to go", root_url %>.
	</p>
</body>
</html>
