/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 


body {
  background-color: #F3F3F3;
  height: 100%;
  margin: 0px;
  padding: 53px 0px 0px 0px;
  font-family: 'Arial';
}

ul > li {
  list-style: none;
}

#header {
  position: fixed;
  top: 0px;
  width: 100%;
  margin: 0px;
  padding: 0px;
  background-color: #FFFFFF;
  border-bottom: 2px solid #4D4D4D;
  padding: 2px 20px 0px 6px;
}

#main_nav {
  margin: 0px 40px 0px 0px;
  float: right;
}

#main_nav > li {
  display: inline-block;
  padding: 15px 0px 0px 0px;
  color: #000000;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}

#main_nav > li a {
  padding: 17px 12px 14px 12px;
  text-decoration: none;
  color: #000000;
  font-family: 'Lato';
}

#main_nav  > li a:hover {
  color: #FFA347;
}

#main_nav > li #nav_username {
	color: #ff0000;
}

.main_nav_inner {
  position: fixed;
  visibility: hidden;
  padding: 0px 0px 0px 0px;
  border-left: 1px solid #4D4D4D;
  border-right: 1px solid #4D4D4D;
  border-bottom: 1px solid #4D4D4D;
  background-color: #FFFFFF;
  top: 53px;
}

.main_nav_inner > li {
  display: block;
  padding: 4px 4px 4px 4px;
  text-align: left;
}

.main_nav_inner > li a {
  padding: 0px 0px 0px 0px;
  text-transform: none;
  font-family: 'Arial';
  color: #000000;
  font-size: 14px;
  text-decoration: none;
  font-weight: normal;
}

.main_nav_inner > li a:hover {
  color: #000000;
}

#flashes {
  margin: 0px;
  padding: 5px 0px 5px 0px;
  text-align: center;
}

#flashes li {
  list-style: none;
}

.fl_err {
  background-color: #ff8080;
  border-bottom: 1px solid #e60000;
}

.fl_success {
  background-color: #99ff99;
  border-bottom: 1px solid #00b300;
}

#body_cont {
  clear: right;
  padding: 10px 16px 40px 20px;
}


.app_form  input[type="text"] {
  height: 22px;
  width: 200px;
  font-size: 14px;
  border-radius: 3px 3px 3px 3px;
}

.app_form  input[type="text"]:focus {
  background-color: #FFFF7D;
}


.app_form  input[type="password"] {
  height: 22px;
  width: 200px;
  font-size: 14px;
  border-radius: 3px 3px 3px 3px;
}

.app_form textarea:focus {
  background-color: #FFFF7D;
}

.app_form  textarea {
  height: 80px;
  width: 350px;
  font-size: 14px;
  border-radius: 3px 3px 3px 3px;
}

.app_form  input[type="password"]:focus {
  background-color: #FFFF7D;
}

.app_button {
  border-radius: 3px 3px 3px 3px;
  font-size: 18px;
  margin-top: 12px;
  -webkit-border-radius: 3;
  -moz-border-radius: 3;
  border-radius: 3px;
  font-family: Arial;
  color: #ffffff;
  font-size: 16px;
  padding: 5px 10px 5px 10px;
  text-decoration: none;
}

.app_button_smaller {
  border-radius: 3px 3px 3px 3px;
  font-size: 18px;
  margin-top: 12px;
  -webkit-border-radius: 3;
  -moz-border-radius: 3;
  border-radius: 3px;
  font-family: Arial;
  color: #ffffff;
  font-size: 15px;
  padding: 3px 6px 3px 6px;
  text-decoration: none;
}

.create_button {
  background: #67b0e0;
  border: solid #0033cc 1px;
  background-image: -webkit-linear-gradient(top, #67b0e0, #2b7bab);
  background-image: -moz-linear-gradient(top, #67b0e0, #2b7bab);
  background-image: -ms-linear-gradient(top, #67b0e0, #2b7bab);
  background-image: -o-linear-gradient(top, #67b0e0, #2b7bab);
  background-image: linear-gradient(to bottom, #67b0e0, #2b7bab);
}

.create_button:hover {
  background: #a1ddff;
  background-image: -webkit-linear-gradient(top, #a1ddff, #4f85a6);
  background-image: -moz-linear-gradient(top, #a1ddff, #4f85a6);
  background-image: -ms-linear-gradient(top, #a1ddff, #4f85a6);
  background-image: -o-linear-gradient(top, #a1ddff, #4f85a6);
  background-image: linear-gradient(to bottom, #a1ddff, #4f85a6);
  text-decoration: none;
}

.edit_button {
  border: solid #648564 1px;
  background: #2bff2b;
  background-image: -webkit-linear-gradient(top, #2bff2b, #12a612);
  background-image: -moz-linear-gradient(top, #2bff2b, #12a612);
  background-image: -ms-linear-gradient(top, #2bff2b, #12a612);
  background-image: -o-linear-gradient(top, #2bff2b, #12a612);
  background-image: linear-gradient(to bottom, #2bff2b, #12a612);
}

.edit_button:hover {
  background: #a9fca9;
  background-image: -webkit-linear-gradient(top, #a9fca9, #18b818);
  background-image: -moz-linear-gradient(top, #a9fca9, #18b818);
  background-image: -ms-linear-gradient(top, #a9fca9, #18b818);
  background-image: -o-linear-gradient(top, #a9fca9, #18b818);
  background-image: linear-gradient(to bottom, #a9fca9, #18b818);
  text-decoration: none;
}

.delete_button {
  background: #fc5151;
  border: solid #6b6363 1px;
  background-image: -webkit-linear-gradient(top, #fc5151, #b30000);
  background-image: -moz-linear-gradient(top, #fc5151, #b30000);
  background-image: -ms-linear-gradient(top, #fc5151, #b30000);
  background-image: -o-linear-gradient(top, #fc5151, #b30000);
  background-image: linear-gradient(to bottom, #fc5151, #b30000);
}

.delete_button:hover {
  background: #fa7373;
  background-image: -webkit-linear-gradient(top, #fa7373, #ed2828);
  background-image: -moz-linear-gradient(top, #fa7373, #ed2828);
  background-image: -ms-linear-gradient(top, #fa7373, #ed2828);
  background-image: -o-linear-gradient(top, #fa7373, #ed2828);
  background-image: linear-gradient(to bottom, #fa7373, #ed2828);
  text-decoration: none;
}

.invisible_component {
  display: none;
}

.critical_importance {
  border: 1px solid #6b6363;
  border-radius: 4px 4px 4px 4px;
  width: 500px;
  padding: 0px 6px 12px 8px;
  margin-top: 20px;
  background-color: #FFFFFF;
}

.bold {
  font-weight: bold;
}

#footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
  background-color: #FFFFFF;
  border-top: 1px solid #4D4D4D;
}

#footer p {
  margin: 5px 0px 6px 0px;
  text-align: center;
  font-size: 14px;
}

.left_side {
  float: left;
}

.right_side {
  float: right;
}

.right_side ul {
  padding-left: 0px;
}

.right_side li {
  list-style: none;
  padding: 0px 20px 15px 0px;
}

.owned_projects_list li {
  font-size: 18px;
}

#search_pr_form {
  display: block;
}

#search_usr_form {
  display: none;
}

.tag_list {
  padding: 6px 6px 6px 6px;
  max-width: 350px;
  border-radius: 6px;
  background-color: #ffffff;
  border: 1px solid #4d4d4d;
}

.tag_list li {
  display: inline;
  padding: 0px 4px 0px 4px;
}

.tag_list a {
  text-decoration: none;
  color: #4d4d4d;
}

.tag_list a:hover {
  color: #ffa31a;
}

.delete_tag_list {
  padding: 6px 6px 6px 6px;
  max-width: 350px;
  border-radius: 6px;
  background-color: #ffffff;
  border: 1px solid #4d4d4d;
}

.delete_tag_list li {
  display: inline;
}

.delete_tag_list a {
  text-decoration: none;
  color: #4d4d4d;
}

.tag_list li:hover {
  color: #ff1a1a;
}

.sch_results a {
  font-size: 18px;
}

.grounded {
  clear: both;
}

.small_icon img {
  height: 21px;
  width: 21px;
}

.main_nav_inner > li .new_activity {
  font-weight: bold;
  color: #ff0000;
}

#invite_proj_form li {
  margin-top: 18px;
}

#give_ownership_form li {
  margin-top: 18px;
}

.no_underline {
  text-decoration: none;
  color: #003cb3;
}

.no_underline:hover {
  color: #80aaff;
} 

#add_gr_member_form {
  display: none;
}

#all_proj_members_list li {
  margin-top: 18px;
}

#all_group_members_list li {
  margin-top: 18px;
}

.assigned_projects_list a {
  font-size: 20px; 
  text-decoration: none;
  color: #003cb3;
}

.assigned_projects_list a:hover {
  color: #80aaff;
}

.link_def_style {
  text-decoration: none;
  color: #003cb3;
}

.link_def_style:hover {
  color: #80aaff;
}

#proj_requests_link {
  font-size: 20px;
  display: block;
}

